/********** Media - width 768px and 960px **********/
@media screen and (max-width: 959px) {
    .container {
        width: 720px;
    }
    .slider .banner .banner-img {
        margin: 0;
    }
    .main {
        min-width: 720px;
    }
    .carousel-indicators li, 
    .carousel-indicators .active {
        width: 180px;
    }
    .specials .specials-detail {
        width: 220px;
    }
    .specials .specials-detail span {
        font-family: AllerLight;
        padding: 0px 15px;
    }
    .main .main-row .main-content .main-block {
        width: 225px;
    }
    .main .main-row .main-content .main-block .main-block-title-wrapper .main-block-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 9px 10px 15px 0;
    }
    .main .main-addon-row .main-addon-cell:first-child {
        display: none;
    }
    .widgets .widget {
        width: 250px;
    }
    .widgets .widget:nth-child(2) {
        display: none;
    }

}
/********** Media - width 320px and 768px **********/
@media screen and (max-width: 767px) {
    .container {
        width: 320px;
    }
    .main {
        min-width: 320px;
    }
    .page-header .search {
        display: none;
    }
    .modal-content {
        width: 85%
    }
    #burger-menu {
        display: block;
    }
    .page-header .login, 
    .page-header .search {
        border-left: 1px solid #383838;
    }
    .page-nav .main-nav {
        height: 60px;
    }
    .page-nav .main-nav .nav-link {
        display: none;
    }
    .page-nav .main-nav .search-burger {
    display: inline-block;
    }
    .carousel-inner {
        height: 360px;
    }
    .carousel-caption {
        padding-top: 0 !important;
    }
    .slider .banner .banner-img {
        margin: 0;
    }
    .slider .banner .details {
        left: 0;
        width: 320px;
    }
    .slider .banner .details .price {
        margin-top: 20px;
    }
    .slider .banner .details .banner-title {
        width: 299px;
    }
    .slider .banner .details .banner-desc {
        font-size: 16px;
        width: 320px;
    }
    .slider .carousel-indicators {
        display: none;
    }
    .slider-nav {
        display: none;
    }
    .slider .banner .banner-img{
            height: 265px;
    }    
    /* Specials Section */
    .specials {
        height: auto;
        overflow: hidden;
    }
    .specials .specials-detail {
        width: 100%;
        margin-left: 0;
    }
    .specials .specials-detail.sale {
        background: url(../img/on_sale.png) no-repeat center center;
    }
    .specials .specials-detail.special {
        background: url(../img/special_offers.png) no-repeat center center;
    }
    .specials .specials-detail.musthave {
        background: url(../img/must_have.png) no-repeat center center;
    }
    /* Main Section */
    .main .main-row .main-row-top .main-row-top-title {
        width: 70%;
    }
    .main .main-row .main-row-top .main-row-top-button {
        float: none;
        width: 100%;
    }
    .main .main-row .main-content .main-block {
        width: 100%; 
        margin-left: 0;
        margin-bottom: 20px;
    }
    /* Addons Section */
    .main .main-addon-row .main-addon-cell {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .main .main-addon-row .main-addon-cell:last-child {
        width: 100%;
    }
    .main .main-addon-row .main-addon-cell .main-addon-news .main-addon-news-text {
        width: 240px;
    }
    /* Social */
    .social .social-links {
        float: left;
        margin: 20px 20px 0 40px; 
    }
    .footer-main {
        padding: 20px 20px 26px;
    }
}