@font-face {
    font-family: AllerRegular;
    src: url(../fonts/Aller_Rg.ttf);
}
@font-face {
    font-family: AllerBold;
    src: url(../fonts/Aller_Bd.ttf);
}
@font-face {
    font-family: AllerLight;
    src: url(../fonts/Aller_Lt.ttf);
}

.container {
	width: 940px;
	margin: auto;
	height: 100%;
}
/********** Header **********/
.page-header {
	height: 45px;
    background-color: #242424;
}
.page-header .logo {
	background: url(../img/logo.png) no-repeat;
	text-indent: -9999px;
	width: 156px;
	height: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
}

.page-header .login,
.page-header .search {
	width: 140px;
	float: right;
	border-right: 1px solid #383838;
	color: #7e7e7e;
    height: 100%;
    vertical-align: middle;
}

.page-header .search {
	border-left: 1px solid #383838;
	position: relative;

}
.page-header .search input {
	height: 100%;
    border: 0;
    background: #242424;
    width: calc(100% - 50px);
	font: 12px AllerRegular;
	color: rgb(177, 174, 174);
	padding: 0 1px 0 20px;
  	text-transform: uppercase;
	line-height: 1.5;
}

.page-header .search .i-search {
	position: absolute;
	top: 15px;
	right: 20px;
}
.page-header .login {
	font: 12px AllerRegular;
	text-align: center;
    line-height: 45px;
    cursor: pointer;
}
.page-header .login:hover {
    color: white;
}
    /* Header Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 30%;
}
.modal-content h1 {
  background: #57c5a0;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: 0 0 15px 0;
}
.modal-container select,
.modal-container input[type="email"],
.modal-container input[type="text"],
.modal-container input[type="password"] {
  width: 92%;
  background: #fff;
  margin-bottom: 4%;
  margin-left: 4%;
  border: 1px solid #ccc;
  padding: 4%;
  color: #555;
}
.modal-container input[type="submit"] {
  width: 92%;
  background: #57c5a0;
  border: 0;
  padding: 4%;
  margin-left: 4%;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.modal-container input[type="submit"]:hover {
  background: #4eb592;
}
.modal-switcher {
    padding: 12px;
    text-align: center;
}
    /* Search */
#suggestions {
	display: none;
    position: absolute;
    background-color: rgba(76, 76, 76, 0.6);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 3;
}
#suggestions .category {
	text-decoration: none;
    display: block;
	font: 12px AllerRegular;
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
    background: #242424;
    opacity: 0.7;
    color: rgb(170, 170, 170);
    text-transform: uppercase;
}
#suggestions .category:hover {
    color: rgb(225, 225, 225);
}
.show {display:block;}
.hide {display:none;}

    /* Navigation */

.page-nav {
	height: 60px;
}
.main-nav {
	float: left;
}
.short-nav {
	float: right;
}
#burger-menu {
    display: none;
    position: relative;
}
#burger-menu .burger-menu {
    height: 60px;
    width: 33px;
}
#burger-menu .menu-icon {
    background: url(../img/menu-icon.png) no-repeat;
    display: block;
    width: 75px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
}
#burger-menu .burger-menu-dropdown {
    display: none;
    position: absolute;
    background-color: rgba(76, 76, 76, 0.6);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 3;
    margin-left: -21px;
}
#burger-menu .burger-menu-dropdown .nav-link-burger {
    text-decoration: none;
    display: block;
    font: 12px AllerRegular;
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
    background: #242424;
    opacity: 0.7;
    color: rgb(170, 170, 170);
    text-transform: uppercase;
}
.page-nav .main-nav .search-burger {
    display: none;
    border-left: 1px solid rgb(211, 211, 211);
    height: 60px;
}
.page-nav .main-nav .search-burger {
    position: relative;  
}
.page-nav .main-nav .search-burger .i-search {
    position: absolute;
    left: 25px;
    top: 40%;
    width: 15px;
}
.page-nav .main-nav .nav-link {
	border-left: 1px solid rgb(211, 211, 211);
	font: 16px AllerRegular;
	color: rgb(36, 36, 36);
	padding: 0 20px;
    text-decoration: none;
    display: inline-block;
    line-height: 60px;
    transition: background-color .4s ease-in-out;
    float: left;
}
.page-nav .main-nav .nav-link:hover {
    background-color: #DADADA;
}
.page-nav .main-nav .nav-link:last-of-type,
.page-nav .short-nav .cart {
	border-right: 1px solid rgb(211, 211, 211);
}
.page-nav .short-nav .wishlist,
.page-nav .short-nav .cart {
	border-left: 1px solid rgb(211, 211, 211);
	font: 16px AllerRegular;
	color: rgb(36, 36, 36);
	padding: 0 20px;
    text-decoration: none;
    display: inline-block;
    height: 60px;
}
.page-nav .short-nav .wishlist .link-wrapper,
.page-nav .short-nav .cart .link-wrapper {
	height: 20px;
    display: inline-block;
    padding: 20px 0;
}
.page-nav .short-nav .counter {
	font: 700 12px AllerBold;
	color: rgb(255, 255, 255);
	border-radius: 4px;
	width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    cursor: default;
    margin-left: 5px;
	background-color: rgb(173, 173, 173);
}
.page-nav nav .counter:hover {
	background-color: rgb(87, 197, 160);
}
/********** / Header **********/
/********** Banner **********/
.slider {
	background-color: #edece7;
}
.slider .banner .banner-img {
	float: left;
	height: 460px;
	max-width: none;
    margin-left: 20%;
}
.slider .banner .details {
    position: absolute;
    left: 52%;
    top: 0;
}
.slider .banner .details .price {
	position: relative;
	height: 67px;
	width: 67px;
	background-color: #57c5a0;
	margin-top: 70px;
	font: 12px AllerBold;
	color: rgb(255, 255, 255);
	line-height: 67px;
	text-align: center;
	text-shadow: none;
}
.slider .banner .details .banner-title {
	font: 40px AllerLight;
	color: #242424;
	margin: 18px 0 10px;
	width: 300px;
	line-height: 45px;
	text-align: left;
}
.slider .banner .details .banner-desc {
	font: 20px AllerLight;
	width: 392px;
	color: #000;
    text-align: left;
    text-shadow: none;
}
.slider .banner .details .banner-nav {
	margin-top: 20px;
}
.slider .banner .details .banner-nav .banner-link {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 3px;
}
.slider .carousel-indicators {
	bottom: -77px !important;
    left: 0;
    right: 0;
    margin: auto;
    width: auto;
}
.carousel-indicators li,
.carousel-indicators .active {
	border: 0;
	border-radius: 0;
	text-indent: 0;
	width: 200px;
	height: auto;
	background: inherit;
    margin: 0;
}
.carousel-indicators .indicator {
    width: 100%;
    height: 1px;
    border: 2px solid #000;
    min-height: 10px;
    background: #000;
    position: relative;
}
.carousel-indicators li:not(:last-child) .indicator:after { 
    content: "";
    background: #2e2e2e;
    border: 2px solid #000;
    position: absolute;
    right: -6px;
    top: -2px;
    width: 7px;
    height: 10px;
}
.carousel-indicators li.active .indicator {
	background: #57c5a0;
}
.carousel-indicators li:first-child .indicator {
	border-left-width: 10px;
}
.carousel-indicators li:last-child .indicator {
	border-right-width: 10px;
}
.slider .carousel-indicators .slider-indicator-title {
	font: 20px AllerRegular;
	margin: 12px 0 5px;
	color: #adadad;
}
.slider .carousel-indicators .slider-indicator-desc {
	font: 14px AllerRegular;
	margin: 0;
	color: #adadad;
}
.slider .carousel-indicators li:hover .slider-indicator-title,
.slider .carousel-indicators li:hover .slider-indicator-desc {
	color: #fff;
}
.slider-nav {
	height: 90px;
	background-color: #2e2e2e;
}

/********** / Banner **********/
/********** Specials Section **********/

.specials {
	background-color: #242424;
	height: 230px;
}
.specials .specials-detail {
    display: block;
    float: left;
    margin: 25px 10px;
    width: 300px;
    height: 180px;
    line-height: 180px;
    text-align: center;
}
.specials .specials-detail span {
    display: inline-block;
    padding: 0 25px;
    vertical-align: middle;
    font: 25px AllerRegular;
    font-weight: 300;
    line-height: 60px;
    color: #ffffff;
    text-transform: uppercase;
    background: rgba(36, 36, 36, .9);
    transition: .6s ease-in-out;
}
.specials .specials-detail span:hover {
  background: rgba(0, 0, 0, .6);
}
.specials .specials-detail:first-child {
    margin-left: 0;
}
.specials .specials-detail:last-child {
    margin-right: 0;
}
.specials .specials-detail.sale {
	background-image: url(../img/on_sale.png);
}
.specials .specials-detail.special {
	background-image: url(../img/special_offers.png);
}
.specials .specials-detail.musthave {
	background-image: url(../img/must_have.png);
}

/********** / Specials Section **********/
/********** / Main products Section **********/

.main {
    min-width: 960px;
    background-color: #ebe7df;
    overflow: auto;
}
.main .main-row {
    padding: 0 0 2px 0;
    overflow: auto;
}
.main .main-row:nth-last-child(2) {
	padding-bottom: 26px;
    border-bottom: 1px solid #bcb5a7;
}
.main .main-row .main-row-top {
	padding: 12px 0 12px 0;
	overflow: auto;
}
.main .main-row .main-row-top .main-row-top-title {
	float: left;
    width: 70%;
    margin: 15px 0;
    font-size: 25px;
    font-weight: 300;
}
.main .main-row .main-row-top .main-row-top-button {
    float: right;
    margin: 14px 0;
    padding: 6px 68px;
    border: 1px solid #bcb5a7;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .025em;
    color: #bcb5a7;
    background-color: transparent;
    outline: none;
    transition: color .6s, background-color .6s ease-in-out;
    cursor: pointer;
}
.main .main-row .main-row-top .main-row-top-button:hover {
  background-color: #bcb5a7;
  color: #242424;
}
.main .main-row .main-content .main-block:first-child {
    margin-left: 0;
}
.main .main-row .main-content .main-block:last-child {
    margin-right: 0;
}
.main .main-row .main-content .main-block {
	float: left;
    position: relative;
    width: 300px;
    height: 270px;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-position: 50% 5px;
    background-color: #ffffff;
}
.main .main-row .main-content .main-block.shoes-1 {
	background-image: url(../img/shoes-1.png);
}
.main .main-row .main-content .main-block.shoes-2 {
	background-image: url(../img/shoes-2.png);
}
.main .main-row .main-content .main-block.shoes-3 {
	background-image: url(../img/shoes-3.png);
}
.main .main-row .main-content .main-block.shoes-4 {
	background-image: url(../img/shoes-4.png);
}
.main .main-row .main-content .main-block.shoes-5 {
	background-image: url(../img/shoes-5.png);
}
.main .main-row .main-content .main-block.shoes-6 {
	background-image: url(../img/shoes-6.png);
}
.main .main-row .main-content .main-block .main-block-price {
	position: absolute;
	display: inline-block;
    bottom: 0;
    left: 12px;
    padding: 26px 9px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #57c5a0;
    z-index: 1;
}
.main .main-row .main-content .main-block .main-block-title-wrapper {
	position: absolute;
    bottom: 0;
    width: 100%;
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-title {
	position: absolute;
    bottom: 0;
    width: 100%;
    padding: 9px 0 15px;
    box-sizing: border-box;
    border-top: 1px solid #cccccc;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: .025em;
    text-indent: 92px;
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu {
	visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 220px;
    padding: 5px 0 4px;
    text-align: right;
    background-color: #ffffff;
    z-index: 2;
    height: 48px;
}
.main .main-row .main-content .main-block .main-block-title-wrapper:hover .main-block-menu {
	visibility: visible;
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu .action-menu {
	margin: 0;
    padding: 0;
    list-style-type: none;
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu .action-menu li {
	display: block;
    float: left;
    margin-right: 2px;
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu .action-menu .action-link {
	display: inline-block;
    width: 40px;
    height: 40px;
    background: #ffffff;
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu .action-menu .action-link.icon-eye {
	background-image: url(../img/eye_icon.png);
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu .action-menu .action-link.icon-eye:hover {
	background-image: url(../img/eye_icon_green.png);
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu .action-menu .action-link.icon-star {
	background-image: url(../img/star_icon2.png);
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu .action-menu .action-link.icon-star:hover {
	background-image: url(../img/star_icon2_green.png);
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu .action-menu .action-link.icon-share {
	background-image: url(../img/share_icon.png);
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu .action-menu .action-link.icon-share:hover {
	background-image: url(../img/share_icon_green.png);
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu .action-menu .action-link.icon-cart {
	background-image: url(../img/cart_icon2.png);
}
.main .main-row .main-content .main-block .main-block-title-wrapper .main-block-menu .action-menu .action-link.icon-cart:hover {
	background-image: url(../img/cart_icon2_green.png);
}
.main .main-row .main-content .main-block.shoes-2 .onsale {
	padding: 26px 3px;
    background-color: #242424;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 12px;
    max-width: 72px;
    box-sizing: border-box;
    font: 14px AllerBold;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 2;
}
.main .main-row .main-content .main-block.shoes-6 .outofstock {
	padding: 19px 9px;
    background-color: #f27e4b;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 12px;
    max-width: 72px;
    box-sizing: border-box;
    font: 14px AllerBold;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 2;
}
.main .main-addon-row {
    padding: 26px 0 22px 0;
}
.main .main-addon-row .main-addon-cell {
    float: left;
    width: 220px;
    margin: 0 10px;
    padding: 25px 16px 20px;
    box-sizing: border-box;
    line-height: 16px;
    background-color: #dfdbd4;
}
.main .main-addon-row .main-addon-cell:first-child {
    margin-left: 0;
}
.main .main-addon-row .main-addon-cell-title {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}
.main .main-addon-row .main-addon-cell blockquote {
    margin: 0;
}
.main .main-addon-row .main-addon-cell p {
	margin: 1em 0; 
	font-size: 12px;
}
.main .main-addon-row .main-addon-cell blockquote cite {
    font-style: italic;
}
.main .main-addon-row .main-addon-cell:last-child {
    width: 460px;
    margin-right: 0;
}
.main .main-addon-row .main-addon-cell .main-addon-news {
    margin: 20px 0 9px 0;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
.main .main-addon-row .main-addon-cell .main-addon-news .main-addon-date {
    float: left;
    width: 36px;
    height: 36px;
    background-color: #57c5a0;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.main .main-addon-row .main-addon-cell .main-addon-news .main-addon-date .main-addon-date-month {
    font-size: 10px;
    text-transform: uppercase;
}
.main .main-addon-row .main-addon-cell .main-addon-news .main-addon-date .main-addon-date-day {
    font-size: 13px;
}
.main .main-addon-row .main-addon-cell .main-addon-news .main-addon-news-text {
    float: left;
    margin-left: 10px;
    line-height: 16px;
}
.main .main-addon-row .main-addon-cell .main-addon-news .main-addon-news-text .main-addon-cell-subtitle {
	margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
}
.main .main-addon-row .main-addon-cell .main-addon-news .main-addon-news-text p {
	margin: 0;
}

.widgets {
    padding-bottom: 14px;
    border: 1px solid #1c1c1c;
    background-color: #242424;
    overflow: hidden;
}
.widgets .widget {
    float: left;
    width: 260px;
    margin: 47px 0 0 42px;
    line-height: 18px;
    font-style: italic;
    color: #a4a4a4;
    text-align: justify;
}
.widgets .widget .widget-title {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    color: #7d7d7d;
    text-transform: uppercase;
}
.widgets .widget p {
    margin: 16px 0 16px 0;
    font-size: 12px;
}
.widgets .widget .widget-date {
    display: block;
    width: 100%;
    text-align: right;
}
.widgets .widget .widget-flickr {
    margin: 18px 0 0 0;
    padding: 0;
    list-style-type: none;
}
.widgets .widget .widget-flickr li {
    display: inline-block;
    float: left;
    margin: 0 8px 8px 0px;
}
.widgets .widget .widget-flickr .widget-flickr-link {
    display: inline-block;
    width: 75px;
    height: 56px;
    transition: opacity .3s ease-in-out;
}
.widgets .widget .widget-flickr .widget-flickr-link:hover {
  opacity: .7;
}
.widgets .widget .widget-flickr .widget-flickr-link.flickr-1 {
	background: url(../img/flickr-1.png);
}
.widgets .widget .widget-flickr .widget-flickr-link.flickr-2 {
	background-image: url(../img/flickr-2.png);
}
.widgets .widget .widget-flickr .widget-flickr-link.flickr-3 {
	background-image: url(../img/flickr-3.png);
}
.widgets .widget .widget-flickr .widget-flickr-link.flickr-4 {
	background-image: url(../img/flickr-4.png);
}
.widgets .widget .widget-flickr .widget-flickr-link.flickr-5 {
	background-image: url(../img/flickr-5.png);
}
.widgets .widget .widget-flickr .widget-flickr-link.flickr-6 {
	background-image: url(../img/flickr-6.png);
}
.widgets .widget .widget-flickr .flickr-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    /*overflow: auto;*/
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.widgets .widget .widget-flickr .flickr-modal .modal-window {
    position: relative;
    background-color: transparent;
    width: 50%;
    margin: auto;
    top: 10%;
}
.widgets .widget .widget-flickr .flickr-modal .modal-window img {
    width: 50%;
    margin: auto;
    display: block;
}
.open {
    display: block;
}

.social {
    padding: 37px 0 42px 0;
    background-color: #242424;
    overflow: hidden;
}
.social .email {
    float: left;
    width: 250px;
    margin-left: 40px;
}
.social .email input[type="email"] {
  display: block;
  float: left;
  width: 194px;
  margin: 0;
  padding: 11px 10px;
  border: none;
  line-height: 14px;
  font-size: 12px;
  font-style: italic;
  color: #7d7d7d;
  outline: none;
  background-color: #2e2e2e;
}
.social .email input[type="submit"] {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  font-weight: bold;
  color: #2e2e2e;
  background-color: #7d7d7d;
  outline: none;
  cursor: pointer;
  transition: opacity, color .6s ease-in-out;
}
.social .email input[type="submit"]:hover {
  color: #ffffff;
  opacity: .8;
}
.social .social-links {
    float: right;
    margin: 0 40px 0 0;
    padding: 0;
    list-style-type: none;
}
.social .social-links li {
    display: inline-block;
    margin-right: 5px;
}
.social .social-links .social-link {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #2e2e2e;
    transition: opacity .3s ease-in-out;
}
.social .social-links .social-link:hover {
  opacity: .7;
}
.social .social-links .social-link.icon-facebook {
    background-position: 0 0;
    background-image: url(../img/ifacebook.png);
}
.social .social-links .social-link.icon-twitter {
    background-position: -36px 0;
    background-image: url(../img/itwitter.png);
}
.social .social-links .social-link.icon-googleplus {
    background-position: -72px 0;
    background-image: url(../img/igoogle.png);
}
.social .social-links .social-link.icon-linkedin {
    background-position: -108px 0;
    background-image: url(../img/ilinkedin.png);
}
.social .social-links .social-link.icon-flickr {
    background-position: -144px 0;
    background-image: url(../img/iflickr.png);
}

.footer-main {
    padding: 20px 0 26px 0;
    background-color: #2e2e2e;
    overflow: hidden;
}
.footer-main .footer-copyright {
    float: left;
    letter-spacing: .025em;
    color: #979797;
}
.footer-main .footer-copyright p {
	font: 12px AllerRegular;
    margin: 5px 0 5px 0;
}

.footer-main .footer-nav {
    float: right;
    margin-top: 16px;
    padding: 0;
    list-style-type: none;
    letter-spacing: .025em;
    color: #979797;
}
.footer-main .footer-nav li {
    float: left;
}
.footer-main .footer-nav .footer-nav-link {
	font: 12px AllerRegular;
    color: #979797;
}
.footer-main .footer-nav li ~ li::before {
  content: "/";
  margin: 0 5px;
}

#active-page {
    color: #57c5a0;
}